$color-primary: #d919cf;
$color-sucess: #20d913;
$color-danger: #d91331;
$color-warn: #e3ab1e;
$color-info: #1ea7f1;

.btn {
  appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

@mixin button-variant($color) {
  background-color: $color;
  border: 1px solid $color;
  color: #ffffff;

  &:hover {
    background-color: lighten($color, 5%);
    border-color: lighten($color, 5%);
  }

  &:active {
    background-color: lighten($color, 10%);
    border-color: lighten($color, 10%);
  }

  &:disabled {
    background-color: lighten($color, 20%);
    border-color: lighten($color, 20%);
    color: #c9c9c9;
    cursor: not-allowed;
  }

  &.secondary {
    background-color: transparent;

    &:hover {
      background-color: $color;
    }

    &:disabled {
      border-color: #c9c9c9;
      background-color: transparent;
      color: #c9c9c9;
    }
  }
}

.btn.primary {
  @include button-variant($color-primary)
}

.btn.info {
  @include button-variant($color-info)
}

.btn.success {
  @include button-variant($color-sucess)
}

.btn.danger {
  @include button-variant($color-danger)
}

.btn.warn {
  @include button-variant($color-warn)
}
