@layer components {
  .nav {
    @apply px-2 flex h-16 justify-between;
  }

  $pink: #0cd397;
  $offset-x: 2px;
  $offset-y: 3px;
  $blur: 1px;
  $stroke-width: 1.5px;
  $stroke-color: #2a2a2a;

  .nav-logo {
    @apply text-2xl md:text-3xl font-semibold text-gray-800;
    -webkit-text-fill-color: rgba(#fff, 0.2);
    text-shadow: -5.5px -5.5px 5px rgba(#fff, 0.3), $offset-x $offset-y $blur $pink;
    color: transparent;
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: $stroke-color;
    font-family: "Oswald", sans-serif;
  }

  .nav-logo-description {
    @apply text-sm;
  }
}