@tailwind base;
@tailwind components;
@tailwind utilities;

$base-font-size: 12px;
$heading-scale: 8;

html, body, #app {
  @apply h-screen;
}

.app-main {
  @apply p-4;
}

button {
  @apply rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}

input {
  @apply block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6;
}

textarea {
  @apply block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6;
}

.app-section-items {
  @apply grid grid-cols-3 gap-4;
}

.app-item {
  @apply flex p-2 rounded-md bg-gray-200 border border-transparent hover:border-gray-300;
  text-decoration: none;
}

.app-item-availability {
  @apply w-2 self-start aspect-square rounded-full animate-pulse;
}

.app-item-availability-online {
  @apply bg-green-500;
}

.app-item-availability-offline {
  @apply bg-red-500;
}